<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; <a href="https://www.meetup-blog-agreen.herokuapp.com">Meetup Blog</a>
      by <a href="https://www.antoinegreensr.info">Antoine Green Sr.</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", about_path %></li>
      </ul>
  </footer>
</div>
