<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; <a href="https://www.meetup-blog-agreen.herokuapp.com">Meetup Blog</a>
      by <a href="https://www.antoinegreensr.info">Antoine Green Sr.</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to "Articles", articles_path %></li>
        <li><%= link_to "All Categories", categories_path %></li>
        <li><%= link_to "Users", users_path %></li>

      </ul>
  </footer>
</div>
